@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="bannerimage" class="bannerdiv"></div>
<h1>Dino-Diner</h1>

<p></p><a asp-page="Menu">Menu</a></p>
<p><a asp-page="Privacy">Privacy Policy</a></p>
<p><a asp-page="About">About Us</a></p>
