/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Credit goes to https://stackoverflow.com/questions/26518339/how-to-make-a-banner-image */
#bannerimage {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    background-image: url("https://k-state.instructure.com/courses/83099/files/10852332/preview");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-position: center;
}

.bannerdiv {
    height: 400px;
    width: 100%
}

.tab {
    overflow: hidden;
    border: 5px solid white;
    background-color: white;
}

.twotab {
    overflow: hidden;
    border: 10px solid white;
    background-color: white;
}

.threetab {
    overflow: hidden;
    border: 15px solid white;
    background-color: white;
}
/* Credit for side bar CSS goes to W3Schools. Edits made by Danniel Christensen*/
/* The side navigation menu */
.sidebar {
  margin-left: 75%;
  margin-right: 100%;
  padding: 0;
  width: 500px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  float: right;
}



#filterBar {
    display: block;
   margin-left: 20px;
}